/*  --------------------RESET CSS-----------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* -----------AFTER STYLE RESET--------- */

@font-face {
    font-family: 'Signika', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Signika');
}

body {
    font-family: 'Signika', sans-serif;
}

#MainContainer {
    height: 100vh;
    position: center;
    background: linear-gradient(to right, #7790ba, #6e88b2, #50607a 45%, #50607a 55%, #6e88b2, #7790ba);
}

#PlayerContainer {
    width: 100%;
    height: 100%;
    background: lightgrey;
}

#PlayerTop {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    color: white;
}

#PlayerBottom {
    width: 100%;
    height: 20%;
    background: lightgrey;
}

#PlayerButtons {
    height: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

#PlaylistContainer {
    width: 100%;
    height: 100%;
    background: lightgrey;
}

#PlaylistTop {
    width: 100%;
    height: 15%;
}

#PlaylistHeader {
    padding-top: 12px;
    position: relative;
}

#PlaylistHeaderTitle {
    flex-grow: 10;
    text-align: center;
    font-weight: bolder;
    color: #50607a;
}

#PlaylistBottom {
    width: 100%;
    height: 85%;
}

.PlaylistButtons {
    padding-top: 4px;
}

#PlaylistBody {
    padding: 0 15px 0 15px;
}

.divContainer {
    display: flex;
    justify-content: space-between;
}

.SongTilesInfoTop {
    display: flex;
    flex-direction: row;
    padding: 3px;
}

.SongTime {
    font-size: 0.7em;
    padding-right: 5px;
}

.SongAuthor {
    font-size: 0.7em;
}

.SongName {
    font-size: 0.9em;
    font-weight: normal;
    padding: 2.5px;
}

#PlayerOptions {
    background: rgba(96, 109, 130, 0.85);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#PlayerInfo {
    background: rgba(96, 109, 130, 0.85);
    height: 40px;
    text-align: center;
    line-height: 15px;
}

#Author {
    padding-top: 2px;
    font-weight: bolder;
}

#Song {
    font-size: 0.8em;
}

/* IMAGE CLASSES */
.default {
    background-image: url("https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge/public/article_images/2015/01/podcast-event.jpg?itok=zsMimlTM");
    background-position: center;
    background-size: contain;
}

.duch {
    background: black url("https://i.ytimg.com/vi/ne30xxETo3g/maxresdefault.jpg");
}

.despacito {
    background: black url("https://images-na.ssl-images-amazon.com/images/I/61sw1j2fR%2BL._SS500.jpg");
}

.perfect {
    background: black url("https://www.harp-school.com/wp-content/uploads/2017/12/ed-sheeran-perfect-thumb-16-9.jpg");
}

.poczatek {
    background: black url("https://d-pt.ppstatic.pl/kadry/k/r/1/b1/61/5b05566ab7962_o,size,1068x623,q,71,h,a9b8c2.jpg");
}

.wolves {
    background: black url("https://i.ytimg.com/vi/1L0beNrqGkM/maxresdefault.jpg");
}

/* END OF IMAGE CLASSES */

/* BUTTONS */

#Hamburger {
    height: 20px;
    width: 20px;
    border: 0;
    position: absolute;
    right: 25px;
    top: 10px;
    background: transparent url(../../images/bars-solid.svg);
}

button:hover {
    transition: all 0.5s;
    transform: scale(1.3);
    cursor: pointer;
}
li {
    font-size: 18px;
    padding-top: 15px;
}

li:hover {
    cursor: pointer;
    background: whitesmoke;
}

hr {
    margin: 0;
}
.FlexDiv {
    padding-bottom: 15px;
}

#ReverseHamburger {
    height: 20px;
    width: 20px;
    border: 0;
    position: absolute;
    left: 25px;
    top: 12px;
    background: url("../../images/chevron-left-solid.svg") no-repeat;
}

#Repeat {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 5px;
    border: 0;
    background: transparent url(../../images/redo-alt-solid.svg) no-repeat;
}

#Shuffle {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 5px;
    border: 0;
    background: transparent url(../../images/random-solid.svg) no-repeat;
}

#Redo {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 5px;
    border: 0;
    background: transparent url(../../images/sync-solid.svg) no-repeat;
}

#Share {
    height: 18px;
    width: 18px;
    margin: 0 50px 0 0;
    border: 0;
    background: transparent url(../../images/share-alt-solid.svg) no-repeat;

}

#Previous {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 5px;
    border: 0;
    background: transparent url(../../images/step-backward-solid.svg) no-repeat;
}

#Next {
    height: 20px;
    width: 20px;
    margin: 0 5px 0 5px;
    border: 0;
    background: transparent url(../../images/step-forward-solid.svg) no-repeat;
}

#Play {
    height: 30px;
    width: 30px;
    margin: 0 10px 0 10px;
    border: 0;
    background: transparent url(../../images/play-solid.svg) no-repeat;
}

#Stop {
    height: 30px;
    width: 30px;
    margin: 0 10px 0 10px;
    border: 0;
    background: transparent url(../../images/pause-solid.svg) no-repeat;
}

#Like {
    height: 20px;
    width: 20px;
    margin: 0 0 0 50px;
    border: 0;
    background: transparent url(../../images/heart-regular.svg) no-repeat;
}

#Liked {
    height: 20px;
    width: 20px;
    margin: 0 0 0 50px;
    border: 0;
    background: transparent url(../../images/heart-solid.svg) no-repeat;
}

.PlaylistLike {
    height: 16px;
    width: 16px;
    margin: 0 10px 0 0;
    border: 0;
    background: transparent url(../../images/heart-regular.svg) no-repeat;
}

.PlaylistLiked {
    height: 16px;
    width: 16px;
    margin: 0 10px 0 0;
    border: 0;
    background: transparent url(../../images/heart-solid.svg) no-repeat;
}

.PlaylistShare {
    height: 16px;
    width: 16px;
    margin: 0 5px 0 0;
    border: 0;
    background: transparent url(../../images/share-alt-square-solid.svg) no-repeat;
}

/* END OF BUTTONS */

/* functionalities */

.activeplayer {
    display: inline-block;
    transition: all 1s;
}

.disactiveplayer {
    display: none;
    transition: all 1s;
}

.activeplaylist {
    display: inline-block;
    transition: 1s all;
}

.disactiveplaylist {
    display: none;
    transition: 1s all;
}

#seekbar {
    width: 100%;
    height: 10px;
    margin-bottom: 10px;
    animation: animate-stripes 5s linear infinite;
}

#seekbar[value] {
    background: white;
}



/* MEDIA QUERIES BIG SCREEN */

@media only screen and (min-width: 750px) {
    .activeplayer {
        display: inline-block;
        transition: all 1s;
    }

    .disactiveplayer {
        display: inline-block;
        transition: all 1s;
    }

    .activeplaylist {
        visibility: visible;
        transition: all 1s;
        opacity: 1;
    }

    .disactiveplaylist {
        visibility: hidden;
        transition: all 1s;
        opacity: 0;
    }

    #MainContainer {
        height: 100vh;
        position: center;
        background: linear-gradient(to right, #7790ba, #6e88b2, #50607a 45%, #50607a 55%, #6e88b2, #7790ba);
        display: flex;
        justify-content: center;
    }

    #PlayerContainer {
        position: relative;
        margin: 50px 0 0 0;
        width: 350px;
        height: 500px;
        border-radius: 7%;
        overflow: hidden;
    }

    #PlaylistContainer {
        position: relative;
        margin: 50px 0 0 30px;
        width: 350px;
        height: 500px;
        background: lightgrey;
        border-radius: 7%;
        overflow: hidden;
    }

}